<link rel="stylesheet" href="~/css/nav.css" />
<ul>
    <li> <a href=@Url.Action("Dashboard","HOME")>Dashboard </a></li>
    <li><a href=@Url.Action("Submit","HOME")>Submit claim </a></li>
    <li><a href=@Url.Action("History","HOME")>Claim History</a></li>
    <li><a href=@Url.Action("Profile","HOME")>Profile</a></li>
</ul>

<div class="dashboard">
    <h2>Welcome, S.Sithole!</h2>
    <div class="claim-summary">
        <h3>Claim Summary</h3>
        <ul>
            <li>Total Claims: <span id="total-claims">0</span></li> 
            <br />
            <li>Pending Claims: <span id="pending-claims">0</span></li>
            <br />
            <li>Approved Claims: <span id="approved-claims">0</span></li>
            <br />
            <li>Rejected Claims: <span id="rejected-claims">0</span></li>
        </ul>
    </div>
    <div class="recent-activity">
        <h3>Recent Activity</h3>
        <ul id="activity-list">
            <!-- list of recent claims or updates -->
        </ul>
    </div>
    <div class="notifications">
        <h3>Notifications</h3>
        <ul id="notification-list">
            <!-- list of notifications -->
        </ul>
    </div>
</div>



